.input-content {
    margin-top: 1em;
}

.home-result {
    margin-top: 1em;
}

.home-result-header .btn {
    margin-top: 10px;
    margin-bottom: -10px;
}

.home-result-header h2 {
    margin-top: 10px;
    margin-bottom: -10px;
}
